

<h3>Sign-up or Log-in to sell your stuff or contact a seller</h3>
<% @items.each do |item| %>

<ul>
  <li>
    <div id="allItems">
      <div id="itemName"><%= item.name %></div>
      <a class="adLnk" href="/item_info/<%= item.id%>">
        <img id="index" src="<%= item.image_url%>" alt="">

        $<%= item.price %>
    </a>
    </div>
  </li>
</ul>




<% end %>
