

<!-- <a  href="/items/new">Create New</a> -->

<% @items.each do |item| %>

<ul>
  <li>
    <a href="/item_info/<%= item.id%>">
      <img id="index" src="<%= item.image_url%>" alt="">
      <%= item.name %>
      <%= item.price %>
    </a>
  </li>
</ul>




<% end %>
