<h2>Log In</h2>
<form action="/session" method="post">

<label for="">email</label>
<input type="text" name="email" placeholder ="Email">

<label for="">password</label>
<input type="password" name = "password" placeholder ="Password">
<button>login</button>

</form>
