

Address book<select class="" name="">
  <% @users.each do |user| %>
  <option  value="<%= user.user_name %>"><%=user.user_name%></option>
    <% end %>
</select>
  Which Item do you wish to discuss?<select class="" name="">
  <% @items.each do |item| %>
<option  value="<%= item.name %>"><%=item.name%></option>
    <% end %>
</select>


<ul>
  <li>
<div id ="newMsg">
  <form action="/new_message" method="post"></li>
  <p id="disclaimer">This messaging system doesn't work so well, so you need to be specific about WHO you are
    messaging and WHAT you are messaging about. See the drop down menus for a list of all users and
    all items for sale</p>
<li><input type="text" name="recipient" placeholder ="who to?"/></li>
<li><textarea name="content"></textarea></li>
<li><input type="text" name="related" placeholder ="about"/></li>
  <button>Send</button>

</ul>

</form>
</div>
