<h3>Are you sure you want to remove your profile?</h3>
<p>removing your profile will restrict you from contacting
  any of our sellers, or reaching any customers</p>

<div id="removeUser">
  <form action="/remove_profile" method="post">
    <input type="hidden" value="delete" name="_method">
    <button id ="remove">Remove your profile  :(  </button>
  </form>
</div>
