


<form action="/replied" method="post">
    <div>

        <label for="msg">Message:</label>
        <textarea name="content"></textarea>
    </div>
    <div class="button">
        <button type="submit">Reply</button>
    </div>
</form>
