<form action="/signup" method="post">
  <p>
    <label class="signup" for="">User Name</label>
    <input type="text" name="username">
  </p>
  <p>
    <label class="signup" for="">Email</label>
    <input type="text" name="email">
  </p>
  <p>
    <label class="signup" for="">Password</label>
    <input type="password" name = "password">
  </p>
  <p>
    <label class="signup" for="">Confirm password</label>
    <input type="password" name ="confirmation_password">
  </p>




<button>Sign up!</button>

</form>


<script src="javascript/passwordCheck.js"></script>
