<p id='emails'> <%= @emails.to_json %> </p>
<p> <%= @email_alert %></p>

<form action="/signup" method="post">
  <p>
    <input type="text" name="username" placeholder= "enter a username"/>
  </p>
  <p>
    <input type="email" name="email" placeholder= "enter email" id="email"
    onkeyup="checkEmail(); return false;"/>
  </p><span id ="hidden_message"></span>
  <p>
    <input type="password" name="pass1" placeholder= "enter password" id="pass1"/>
  </p>
  <p>
    <input type="password" name="pass2" placeholder= "confirm password"  id="pass2"
    onkeyup="checkPass(); return false;">
  </p><span id="confirmMessage" class="confirmMessage"></span>
  <button id="toggle" onclick="checkEmail()">signup!</button>

</form>

<p> the Json emails from ruby ===> <%= @emails.to_json %></p>

<script>

function checkEmail(){

  var emails = <%= @emails.to_json %>
  var badColor = "#ff6666"
  var emailAlerter = document.getElementById('hidden_message')

  var email = document.getElementById('email')
  for(i =0; i <= emails.length; i ++){
    if (emails[i] === email.value){
    email.style.backgroundColor = badColor;
    emailAlerter.innerHTML = "This email is already taken"}

//    else  { for (j=0; j <=emails.length; j++) {
//     if(emails[j] !== email.value){
//       email.style.backgroundColor = white;
//       emailAlerter.innerHTML = ""
//     }
//   }
// };


  }
}


  document.getElementById('toggle').style.visibility = 'hidden';

  function checkPass() {

    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    var message = document.getElementById('confirmMessage');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    var text = "#000000";

    if(pass1.value == pass2.value) {
        pass2.style.backgroundColor = goodColor;
        message.style.color = text;
        document.getElementById('toggle').style.visibility = 'visible';
        message.innerHTML = ""

    } else {

        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Your passwords aren't the same"

        document.getElementById('toggle').style.visibility = 'hidden';
    }
}




</script>
