<form action="/index" method="post">
  <p>
    <label for="">User Name</label>
    <input type="text" name="username">
  </p>
  <p>
    <label for="">Email</label>
    <input type="text" name="email">
  </p>
  <p>
    <label for="">Password</label>
    <input type="password" name = "password">
  </p>
  <p>
    <label for="">Confirm password</label>
    <input type="password" name ="confirmation_password">
  </p>


<select name="item_id" id="">
  <% @items.each do |item| %>
    <option value="<%=dish_type.id %>"><%= dish_type.name %>
    </option>
  <% end %>
</select>

<button>Create Dish</button>

</form>

<script src="javascript/passwordCheck.js"></script>
