CREATE UPLOAD FOR IMAGES (NOT URLS).
MAKE CSS LOOK GOOD

<p>Search function for browsing ads by keyword</p>
<p>make emails to be able to send from list of users</p>
<p>add modal</p>
<p>make it responsive</p>
<p>image uploads</p>
<p>Css animate for cool animations on items</p>
<p>integrate bootstrap</p>
<p>make a version of this for housing </p>
<p>consider the table relationships, can they be improved</p>
<p>ads must be editable</p>
