*{
  font-family: 'Droid Sans', sans-serif;
}

html{
  background-color: #0aa0d9;
}

.adLnk {
  color:black;
}

a {
  color: white;
  text-decoration: none;
}
header {
  margin-top: -55px;
  background-color: #1352a2;
  display: fixed;
  height: 75px;
  padding: 15px;
  padding-top: 30px;
  width: 1010px;
  margin-left:-40px;
}

body{
  margin: auto;
  width: 960px;
  color: darkgray;
  background-color: #fffdf8;
  padding: 40px;
  padding-bottom: 500px;
  margin-top:
}

#itemName {
  font-size: 20px;
  color: black;
}

/*#allItems{
  float: left;
  display: inline-block;
  width: 300px;
}*/
#DisplayUser {
  font-size: 10px;
  color: black;
  display:inline;
  float:right;
  margin-right: 30px;
}

#msg_read {

  font-style: bold;
  color: black;
}

#msg_content {
  margin-bottom: 5px;
  border: solid black 1px;
  color: black;
  font-weight: bold;
}


.signup.label {
  margin-left: 300px;
}


#index {
  width: 150px;
}

li {
  display:inline;
}

img {
  width: 300px;
}

.lab {
  /*display:inline-block;*/
  margin: 10px
}

.inp {
  /*display: inline-block;*/
  margin: 10px

}

button {
    background-color: #white; /* Green */
    border: black solid 1px;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    width: 76px;
    height: 20px;
}

#small {
  font-size: 10px;
  color: black;
}
.UH{
  color: black;
  background-color: light-blue;
}
#remove{
  height: 100px;
  width: 200px;
  background-color: red;
  color: black;
  font-size: 30px;
  margin-left: 380px;
  margin-top: 100px;
}
#reply {
  width: 250px;
  height: 125px;
  padding:10px;
}

/*.centre{
  text-align: center;
}*/
