*{
  font-family: 'Droid Sans', sans-serif;
}

#contact_list{
  float: left;
  width: 45px;
}

#hidden_message{
  color: red;
}

#disclaimer {
  color: red;
  font-weight: bold;
}

#textarea {
display:inline;
}

#newMsg {
margin-top: 75px;
}

#sndNwMsg{
  color:black;
}

#clear{
/*float: right;*/
background-color: pink;
}

html{
  background-color: #0aa0d9;
}

.adLnk {
  color:black;
}

#contacts{
color:black;
}

a {
  color: white;
  text-decoration: none;
}

header {
  margin-top: -55px;
  background-color: #1352a2;
  display: fixed;
  height: 75px;
  padding: 15px;
  padding-top: 30px;
  width: 1010px;
  margin-left:-40px;
}

body{
  margin: auto;
  width: 960px;
  color: darkgray;
  background-color: #fffdf8;
  padding: 40px;
  padding-bottom: 500px;
  margin-top:
}

#itemName {
  font-size: 20px;
  color: black;
}

/*#allItems{
  float: left;
  display: inline-block;
  width: 300px;
}*/

#DisplayUser {
  font-size: 10px;
  color: black;
  display:inline;
  float:right;
  margin-right: 30px;
}

#msg_head{
  clear:both;
}

#msg_read {

  font-style: bold;
  color: black;
}

#msg_content {
  margin-bottom: 5px;
  margin-top:30px;
  border: solid black 1px;
  color: black;
  font-weight: bold;
  clear: left;
  background-color: white;
  height: 60px;
  width: 900px;
  padding: 10px;

}

.signup.label {
  margin-left: 300px;
}

#index {
  width: 150px;
}

li {
  display:inline;
}

img {
  width: 300px;
}

.lab {
  /*display:inline-block;*/
  margin: 10px
}

.inp {
  /*display: inline-block;*/
  margin: 10px
}

button {
    background-color: #white; /* Green */
    border: black solid 1px;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    width: 76px;
    height: 20px;
}

#small {
  font-size: 10px;
  color: black;
}

.small_reply {
  width: 40px;

  /*padding-bottom: 5px;*/
  margin-left:2px;
}
.UH {
  color: black;
  background-color: light-blue;
}

#msgCt {
  color: red;
  font-weight: bold;
  font-size: 14px;
  border: white 1px solid;
  border-radius: 15px;
  background-color: white;
}

.msgBtns{
  /*display: inline;*/
  float: left;
}

/*#msg_head{
  color: black;
}*/

#remove{
  height: 100px;
  width: 200px;
  background-color: red;
  color: black;
  font-size: 30px;
  margin-left: 380px;
  margin-top: 100px;
}
#from{
  color: black;
}
#send_message {
  width: 250px;
  height: 125px;
  padding:10px;
}

#Re {
  color: black;
}
/*.centre{
  text-align: center;
}*/
